@import '../../scss/variables';


.auth-wrap  {
  width: 100%;
  max-width: 39.4em;
  position: relative;
  background: $background-dark;
  padding: 2.6em 5.1em 4em;
  //padding: 0em 5.1em 4em;
  color: $white;
  font-weight: normal;
  transition: 1s;

  //
  //display: flex;
  //flex-direction: column;
  //align-items: center;
  //justify-content: center;
}

@keyframes auth-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.auth {
  margin-top: 5em;
  position: relative;
  opacity: 0;
  animation: auth-anim 0.7s linear 0.3s forwards;
  width: 100%;
  form {
    position: relative;
  }

  &__title {
    font-weight: 600;
    color: $grey;
    font-size: 1.65em;
    span {
      color:$white
    }
  }

  &__link {
    margin-top: 1.65em;
    text-align: center;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    animation: auth-anim 0.7s linear 0.5s forwards;
    span {
      margin: 0 1em;
    }
    a {
      color: $white;
      position: relative;
      transition: 0.3s;

      &:before {
        content: "";
        position: absolute;
        display: block;
        right: 0;
        top: 105%;
        width: 0;
        height: 0.07em;
        background: #fff;
        transition: 0.3s;
      }
      &:hover {
        color: $blue;

        &:before {
          left: 0;
          width: 100%;
          background: $blue;
        }
      }
    }

  }
  .auth__link {
    opacity: 1;
    animation: none;
  }
  &__input {
    position: relative;
    height: 2.9em;
    background: $background-light;
    margin-top: 3.1em;
    &:nth-child(1) {
      margin-top: 0;
    }
    input {
      width: 100%;
      height: 100%;
      background: none;
      border: none;
      padding: 0 0.8em;
      font-size: 1.05em;
      color: $white;
      &:-webkit-autofill {
        -webkit-text-fill-color: $white
      }

      &::placeholder {
        color: $grey;
      }
      &.password  {
        &::placeholder {
          font-size: 0.8em;
        }
      }
    }
    label {
      position: absolute;
      left: 0;
      bottom: 118%;
      font-size: 0.8em;

    }

    &.error {
      .auth-error {
        opacity: 1;
        font-weight: 400;
      }
    }
  }
  .auth-error {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    left: 0;
    top: 0;
    border: 1px solid $red;
    opacity: 0;
    &__text {
      position: absolute;
      right: 0;
      bottom: 118%;
      font-size: 0.8em;
      color: $red;
    }
    &__cross {
      position: absolute;
      right: 0.8em;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      width: 1.2em;
    }
  }

  &__btn-password {
    width: 1.2em;
    display: flex;
    position: absolute;
    z-index: 1;
    right: 0.8em;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    .error & {
      display: none;
    }
    img {
      transition: 0.2s;
      &:nth-child(2) {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
      }
    }
    &.open {
      img {
        &:nth-child(1) {
          opacity: 0;
        }
        &:nth-child(2) {
          opacity: 1;
        }
      }
    }
  }


  &__checkbox {
    margin-top: 1.65em;
    display: flex;
    align-items: center;
    input {
      opacity: 0;
      pointer-events: none;
      position: absolute;
      z-index: -9;
    }
    label {
      position: relative;
      display: flex;
      width: 1.7em;
      cursor: pointer;
      margin-right: 0.9em;

      svg {
        background: #282D45;
        path {
          fill: #282D45;
          transition: 0.3s;
        }
      }

    }
    input:checked ~ label {
      svg {
        path {
          fill: $blue;
        }
      }
    }
  }


  .auth__btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.6em;
    background: $blue;
    color: $white;
    margin-top: 3em;
    cursor: pointer;
    transition: 0.2s;
    position: relative;
    z-index: 0;
    overflow: hidden;
    span {
      font-size: 1.05em;
      font-weight: 600;
    }
    //&:hover {
    //  background: #fff;
    //}

    &:before {
      content: "";
      position: absolute;
      display: block;
      left: 35%;
      top: 0;
      background: linear-gradient(90deg, rgba(#77A2FD, 0), #77A2FD, rgba(#77A2FD, 0));
      width: 30%;
      height: 100%;
      z-index: -1;
      transition: 0.8s;
      transform: translateX(300%) skewX(-15deg);

    }
    &:hover {
      //transform: scale(1.04);
      &:before {
        opacity: 1;
        animation: btn-form 0.7s linear;
      }
    }

    &:disabled {
      background: $background-light;
      color: $grey;
      cursor: default;
      opacity: 0.7;
      pointer-events: none;
    }
  }

  //&__success {
  //  position: absolute;
  //  left: 0;
  //  top: 0;
  //  font-size:  1.45em;
  //  font-weight: 500;
  //  line-height: 1.4;
  //  width: 100%;
  //  height: 100%;
  //  display: flex;
  //  flex-direction: column;
  //  justify-content: space-between;
  //  &_text {
  //    transform: translateY(-0.5em);
  //  }
  //  &_link {
  //    margin-top: 0 !important;
  //  }
  //}


  &__error {
    color: $red;
    position: absolute;
    bottom: 4em;
    left: 0;
    width: 100%;
    text-align: center;
  }
  &__success {
    color: $blue;
    position: absolute;
    bottom: 4em;
    left: 0;
    width: 100%;
    text-align: center;
  }
}

@keyframes btn-form {
  from {
    transform: translateX(300%) skewX(-15deg);
  }
  to {
    transform: translateX(-300%) skewX(-15deg);
  }
}